{% extends 'base.html.twig' %}

{% block title %}Edit Password{% endblock %}

{% block body %}
<style>
</style>

<div class="container">
    <h2 class="shadow mt-4">Edit Password</h2>
    <div class="col-6 offset-3">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
