{% extends 'base.html.twig' %}

{% block title %}Edit Password{% endblock %}

{% block body %}
<style>
</style>

<div class="container">
    <h1>Edit Password</h1>

    {{ form(form) }}
    
</div>
{% endblock %}
