{% extends 'base.html.twig' %}

{% block title %}Sf-recipe | Register{% endblock %}

{% block body %}

<div class="container">
    <h2 class="shadow rounded p-2 mt-4">Register </h2>
    <div class="col-6 offset-3 mb-5">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
